.App {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.loader {
  z-index: 1000;
  width: 0;
  height: 100vh;
  position: fixed;
  background-color: black;
  color: rgb(136, 136, 136);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button {
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 30px 10px 30px;
  margin-right: 20px;
}
.button:hover {
  box-shadow: 0px 6px 21px 7px rgba(0, 0, 0, 0.2);
  width: 150px;
}
.purple {
  background-color: rgb(149, 10, 214);
}
.blue {
  background-color: rgb(29, 29, 202);
}

.page {
  height: 200vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1 {
  height: 100vh;
}
.fadeTranslate-enter {
  opacity: 0;
  position: fixed;
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in 500ms, transform 500ms ease-in-out 500ms;
}

.fadeTranslate-exit {
  opacity: 1;
  position: fixed;
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in, transform 1000ms ease-in-out;
}
